<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
  </head>

<body>



<ul>
    {{#searchmovies}}
       
            <li>
            <form action="/delete-movie" method="POST">
            <label>{{movieTitle}}</label>
            <label>{{movieYear}}</label>
            <label>{{movieGenre}}</label>
            <a href="{{moviePoster}}" target="_blank">{{movieTitle}} Poster</a>
            <input type="hidden" name="movieTitle" value="{{movieTitle}}"/>
            <input type="hidden" name="movieYear" value="{{movieYear}}"/>
            <input type="hidden" name="movieGenre" value="{{movieGenre}}"/>
            <input type="hidden" name="moviePoster" value="{{moviePoster}}"/>
            <input type="submit" value="Remove"/>
            </form>
            </li>
       
    {{/searchmovies}}
</ul>

<form action="/movies/:genre/:year" method="GET">
            
            Search Genre: <input type="textbox" name="genre"/>
            Search Year: <input type="textbox" name="year"/>
            <input type="submit" value="Search Movies"/>
</form>

</body>
</html>
